body{
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/***** HEADER *****/
.header{
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 110, 139);
    align-items: center;
    padding: 15px 0px 15px 0px;
    
}

.header button{
    padding: 10px;
    border: solid 1px white;
    background-color: rgb(46, 110, 139);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
}

.header button:hover{
    background-color: rgb(29, 68, 87);
}


.header h1{
    color: white;
    margin-left: 55px;
}

/*****TERMINA HEADER *****/

/* -*-*-*-*-*-*-*-*-*- */

/*****BOTONERA Y BUSQUEDAS *****/

.botonera{
    width: 100%;
    min-width: 400px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.botonera > button{
    width:30px;
    height: 25px;
    border-radius: 5px;
    border: solid 1px rgb(46, 110, 139);
    color: rgb(46, 110, 139);
    font-weight: 600;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    padding: 0px
}

.botonera >button:hover{
    color: white;
    background-color: rgb(46, 110, 139);
}

.busquedas{
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.busquedas .campo{
    font-size: 18px;
    border: solid 1px rgb(250, 116, 54);
    border-radius: 10px;
    padding: 5px;
    margin-left: 50px;
}

.busquedas .boton{
    background-color: transparent;
    font-size: 24px;
    color: rgb(250, 116, 54);
    border: none;
    cursor: pointer;
}

/***** TERMINA BOTONERA Y BUSQUEDAS *****/

/* -*-*-*-*-*-*-*-*-*-*-*- */

.listaResultados{
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listaResultados .contenedor{
    width: 400px;
    text-align: center;
    display: block;
}

.listaResultados .contenedor ul{
    margin-left: 0px;
    text-align: left;
}

.listaResultados .contenedor ul li.oscuro{
    width: 300px;
    height: 20px;
    background-color: #dadada;
    margin-top: 5px;
    padding: 5px;
}

.listaResultados .contenedor ul li.claro{
    width: 300px;
    height: 20px;
    background-color: #f3f3f3;
    margin-top: 5px;
    padding: 5px;

}

.listaResultados .contenedorRegistro{
    width:45%;
    min-width: 400px;
    display: none;
    justify-content: center;
    align-items: center;
}

.listaResultados .contenedorRegistro .registro{
    width: 80%;
    /*height: 300px;*/
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    padding: 20px; 
}

.listaResultados .contenedorRegistro .registro > div.cerrar{
    grid-column-end: span 3;
    height: 20px;
    text-align: right;
}

.listaResultados .contenedorRegistro .registro > div.cerrar button{
    color: rgb(46, 110, 139);
    font-size:20px;
    margin-top: -15px;
}

.listaResultados .contenedorRegistro .registro > div.nombre{
    grid-column-end: span 3;
    height: 40px;
    margin-bottom: 10px;
    color: rgb(46, 110, 139);
    font-size:24px;
    font-weight: 400;
}

.listaResultados .contenedorRegistro .registro > div.icono{
    margin-bottom: 2px;
    margin-right: 2px;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(245, 245, 245);
    color: rgb(46, 110, 139);
}

.listaResultados .contenedorRegistro .registro > div.datos{
    margin-bottom: 2px;
    margin-right: 2px;
    padding: 5px;
    text-align: left;
    background-color: rgb(245, 245, 245);
}

.listaResultados .contenedorRegistro .registro > div.foto{
    grid-row-end: span 4;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    text-align: center;
}



.listaResultados .contenedorRegistro button{
    width: 50px;
    height: 50px;
    border: none;
    font-size:36px;
    color: #aaaaaa;
    background-color: transparent;
    cursor: pointer;
}

.fotoContacto{
    width:70%;
}


/* *-*-*-*-*-*-*-*-*-*-* */

/*****  VENTANA MODAL  ******/
.modal {
    display: none;
  }
  
  .modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    background-color: #fff;
    border-radius: 10px;
    min-width: 400px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 10px;
    
  }

  .modal-container > div.titulo{
      font-weight: 600;
      font-size: 24px;
      /*color:rgb(250, 116, 54);*/
      color: rgb(46, 110, 139);
      grid-column-end: span 2;
      text-align: center;
      margin-bottom: 20px;
  }

  .modal-container > div.cerrar{
      grid-column-end: span 2;
      text-align: right;
  }

  .modal-container >div.cerrar button{
    border: none;
    background-color: transparent;
    color: rgb(46, 110, 139);
    font-size:20px;
    cursor: pointer;
  }

  .modal-container > div.iconos{
      margin-bottom: 10px;
      margin-right: 2px;
      text-align: center;
      color: rgb(46, 110, 139);
      padding-top: 10px;
  }

  .modal-container > div.formulario{
    margin-bottom: 10px;
    margin-right: 2px;
    padding: 10px 0px 0px 5px;
  }

  .camposModal{
      width: 340px;
      border: none;
      background-color: transparent;
      border-bottom: solid 1px rgb(250, 116, 54);
      font-size: 16px;
  }

  ::placeholder{
      color: rgb(150, 150, 150);
  }

  .botonFormularioModal{
    width:80px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px rgb(250, 116, 54);
    background-color: white;
    color:  rgb(250, 116, 54);
    font-weight: 600;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    padding: 0px;
}

.botonFormularioModal:hover{
    background-color: rgb(250, 116, 54);
    color: white;
}

.mensaje{
    font-size: 12px;
    font-weight: bold;
    color: rgb(250, 116, 54);
}

  

  /******termina ventana modal *******/
